{% extends "layout.html" %}
{% block title %}Registered Users{% endblock %}
{% block content %}
    <h1>Registered Users</h1>
    <p>The following students have registered for student organization.</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Organization</th>
        </tr>
        {% for name, organization in users.items() %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ organization }}</td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}
